<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'" />
  <style>
    html,
    body,
    #root {
      margin: 0;
      padding: 0;
      height: 100%;
      caret-color: transparent;
    }

  </style>
  <title>LogisVally-Instaports File Generator</title>
</head>

<body>
  <div id="root"></div>
</body>

</html>
